.app {
  background-color: #f6f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40%;
  max-height: 800px;
  min-height: 350px;
}

.app__main-header {
  color: rgb(45, 45, 56);
}